@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: none;
}

img {
  display: block;
}

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

body {
  color: #666;
  font: 12px/20px "微软雅黑", "SimSun", "宋体", "Arial Narrow", HELVETICA;
  background: #fff; /* overflow-y:scroll;*/
  overflow-x: hidden;
  font-size: 12px
}

a {
  color: #666;
  text-decoration: none;
}

#lover_content_wrap {
  background: url(../img/banner.jpg) no-repeat center top;

  height: 6000px;
}

.lover_content {
  margin: 0 auto;
}

.lover_vip {
  width: 1099px;
  height: 4790px;

  margin: 0 auto;
  position: relative;
}

.banner_top {
  height: 946px;
  width: 1099px;
  margin: 0 auto;
}

.lover_vip_list {
  position: absolute;
  width: 1013px;
  height: 140px;
  left: 43px;
  top: -130px;
}

.lover_vip_list .lover_left {
  cursor: pointer;
  float: left;
  width: 493px;
  height: 118px;
  background: url(../img/loveLeft.png) no-repeat left top;
  text-align: center;
  padding-top: 10px
}


.lover_vip_list .lover_left img {
  display: inline-block;
}

.lover_vip_list .lover_right {
  float: right;
  width: 493px;
  height: 118px;
  background: url(../img/loveRight.png) no-repeat center top;
  text-align: center;
  padding-top: 10px;
}
.change_bg .lover_left {
  background: url(../img/loveLeft2.png) no-repeat left top;
}
.change_bg .lover_right {
  background: url(../img/loveRight2.png) no-repeat center top;
}
.lover_vip_list .lover_right img {
  display: inline-block;
}

.lover_first_top {
  width: 100%;
  line-height: 98px;
  text-align: center;
  color: #f75313;
  font-size: 46px;
}

.lover_first_top b:nth-child(2) {
  font-size: 46px;

}

.love_first_center {
  padding-left: 24px;
  padding-right: 24px;
  /*height: 690px;*/
}

.love_first_center li {
  float: left;
  width: 252px;
  height: 336px;
  background: #f60;
  margin-right: 13px;
  margin-bottom: 13px;
}

.love_first_center li img {
  width: 252px;
  height: 244px;
  float: left;
}

.love_first_center li p {
  width: 222px;
  height: 62px;
  float: left;
  padding: 15px;
  background: #fff;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.love_first_center .love_margin {
  margin-right: 0;
}
